body {
  font-family: poppins, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/heading-photo.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 50px;
}

header a {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 16px 32px;
}

@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }

  header h1 {
    font-size: 44px;
  }
  header h2,
  header h3 {
    font-size: 20px;
  }
}
