body {
  font-family: poppins, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/heading-photo.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 50px;
}

header a {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 16px 32px;
}

main h3 {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  opacity: 0.3;
}

main h2 {
  margin: 0;
  line-height: 1.5;
  padding-bottom: 15px;
  font-size: 32px;
}

main p {
  line-height: 2;
  margin: 0;
}

section {
  margin: 0 auto;
  padding: 100px;
}

footer {
  background-image: linear-gradient(
      rgba(13, 56, 85, 0.9),
      rgba(13, 56, 85, 0.9)
    ),
    url(../images/footer-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
  color: white;
}

.why-amsterdam-section {
  background-color: white;
}

.responsive-img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

.three-column-one-narrow-grid {
  grid-template-columns: 1fr 2fr 2fr;
}

.two-column-grid {
  grid-template-columns: repeat(2, 1fr);
}

.grid a {
  color: white;
  display: inline-block;
  margin-bottom: 10px;
}

.grid ul {
  padding: 0;
}

.grid li {
  list-style: none;
}

@media (max-width: 1060px) {
  header {
    padding: 60px 10px;
  }

  header h1 {
    font-size: 44px;
  }
  header h2,
  header h3 {
    font-size: 20px;
  }

  main h2 {
    font-size: 22px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px;
  }
}
